[[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

[class*="bar-"] {
    background-color: #555555;
}
 
.bar-nav {
    /* unless iOS 7 */
    top: 0;
     
    -webkit-box-shadow: 0 -20px 0 rgba(51, 219, 182, 1), 0 0 1px rgba(0, 0, 0, 0.85);
    box-shadow: 0 -20px 0 rgba(51, 219, 182, 1), 0 0 1px rgba(0, 0, 0, 0.85);
    background-color: rgba(51, 219, 182, 1);
}
 
.inset-el {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

select {
	-webkit-appearance: ;
}
 
#overlay {
    opacity:.5;
    background-color:#ffffff;
    color: #fff;
    width:100%;
    height:100%;
    z-index:10;
    /* check for iOS 7 */
    top:45px;
    left:0;
    position:fixed;
}

#overlaySpinner {
    z-index:10;
    width:100px;
    height:100px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}
 
.gray-background {
    background:#F5F5F5;
}
 
.list.prod li { text-align: center; padding: 20px 20px 20px 10px; }
.list.prod li > a:not([class*="button"]) { margin: -20px -20px -20px -10px; }

.selling-form .table-view-cell {
     padding: 11px 12px 12px 15px;
}
 
 .selling-form .paddit {
     padding-top: 15px;
     padding-bottom: 15px;
 }
 
.content, .bar-standard {
	padding-bottom: 50px;
}
 
.content, .table-view .table-view-divider {
    background-color:#F8F8F8;
}
 
.table-view .table-view-cell > a:not([class*="button"]):active {
    background-color:#F0F0F0;
}
 
.home-content {
    background-color: #FFFFFF;
}
 
 
.table-view .table-view-divider {
    padding-top: 25px;
}

/* Push buttons 100% */
.btn {
	width: 100%;
}

.center {
	text-align: center;
}

.navi a {
    color:#929292;
}
 
.lb-ab {
     position: absolute;
    font-size:13px;
}

.listing-badge {
	color: #fff;
	padding: 2px 4px;
}

.listing-badge.Sold {
	background-color: #E1806F;
}

.listing-badge.Live {
	background-color: #5CA7DF;
}

.listing-badge.Pending {
	background-color: #111;
}

.new-listing-instructions {
	color: #999;
}

.new-listing-photos {
    display: inline;
    padding-right: 5px;
}
 
.new-listing-note {
    color: #999;
    text-align: center;
}
 
.optional {
    background-color:#CCECFF;
    padding:10px 10px 0 10px;
}
 
.button:disabled {
    color: #999999;
}
 
.welcome-btns {
    margin-top: 75px;
}

.get-started {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    background-color: #3E88BF;
    background-image: -webkit-linear-gradient(top, #489EDD 0, #3E88BF 100%);
    background-image: linear-gradient(to bottom, #489EDD 0, #3E88BF 100%);
    border: 1px solid #3E88BF;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .025);
}

.get-started:active {
    color: #ffffff;
    background-color: #3E88BF;
    background-image: none;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, .2), 0 0 0 rgba(0, 0, 0, .025);
}
 
.listing-photo {
    margin-right: 5px;
    float:left;
    background-color:#ffffff;
}


.metrics {
    padding: 10px 0 0 0;
    background-color: #ffffff;
    border-bottom: solid 1px #E6E6E6;
    color:#444444;
}

 .bar-nav [class*="button"] {
     color: #2D9B7E; /* #70FCCF or #286B5F*/
 }

 .bar-nav .button:active,
 .bar-nav .button.active,
 .bar-nav .button-prev:active,
 .bar-nav .button-prev.active,
 .bar-nav .button-next:active,
 .bar-nav .button-next.active,
 .bar-nav .button-primary:active,
 .bar-nav .button-primary.active {
     color: #2D9B7E;
 }

 .bar-nav .button-prev:before,
 .bar-nav .button-prev:after,
 .bar-nav .button-next:before,
 .bar-nav .button-next:after {
     background-color: #2D9B7E;
 }

 .segmented-controller {
     border-color: #ffffff;
 }
 .segmented-controller li {
     border-left-color: #BDD6EE;
     border-left: 1px solid #BDD6EE;
 }
 .segmented-controller li > a {
     color: #239EDA;
 }
 .segmented-controller li {
     background-color: #d5e9ff;
 }
