<header class="bar-title" ng-controller="WelcomeController">
    <a class="button" ng-click="back()">
    	Home
  	</a>
  	<h1 class="title">Account</h1>
</header>

<div class="content content-padded">
	<ul class="segmented-controller">
	  <li class="active">
	    <a ng-href="#/account">Account</a>
	  </li>
	  <li>
	    <a ng-href="#/account/payment">Payment Settings</a>
	  </li>
	</ul>
	<form>
	  	<div class="input-group">
	  	  	<input type="text" placeholder="Full name" value="{{ user.get('fullName') }}" required>
	  	  	<input type="email" placeholder="Email" value="{{ user.get('username') }}" required>
	  	  	<input type="tel" placeholder="555-555-5555" value="{{ user.get('telephone') }}" required>
	  	</div>
	  	<div class="input-group">
	  	  	<input type="text" placeholder="Address">
			<input type="text" placeholder="Unit/Apt./Suite">
			<input type="text" placeholder="City">
			<input type="text" placeholder="State">
	  	  	<input type="text" placeholder="Zipcode">
	  	</div>
		<a class="button button-block">Save Changes</a>
	</form>
</div>
