<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">Home</a>
  	<h1 class="title">Account</h1>
</header>

<div class="content">
    <div class="content-padded">
        <h3>{{ user.get('firstName') }} {{ user.get('lastName') }}</h3>
    </div>

    <ul class="table-view">
        <li class="table-view-cell table-view-divider">Selling</li>
        <li class="table-view-cell">
            <a ng-click="">
                Sales ($0)
                <span class="chevron"></span>
            </a>
        </li>
        <li class="table-view-cell">
            <a ng-click="">
                Payment Settings
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    
    <div style="margin-top:20px;"></div>
    <ul class="table-view">
        <li class="table-view-cell table-view-divider">Account</li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/edit_account', 'slide')">
                Edit Account
                <span class="chevron"></span>
            </a>
        </li>
        <li class="table-view-cell" ng-controller="LoginController">
            <a ng-click="logout()" confirm-action confirm-action-title="Are you sure you would like to sign out?">Sign Out</a>
            <span class="chevron"></span>
        </li>
    </ul>
</div>
