<header class="bar-title" ng-controller="NavigationController">
    <a class="button" ng-click="back()">
    	Home
  	</a>
  	<h1 class="title">Account</h1>
</header>

<div class="content" style="background:#F5F5F5;">
    <div class="content-padded">
        <h3>{{ user.get('firstName') }} {{ user.get('lastName') }}</h3>
    </div>

    <ul class="list inset" style="font-weight:bold;" ng-controller="NavigationController">
        <li>
            <a ng-click="">
                Sales ($30)
                <span class="chevron"></span>
            </a>
        </li>
        <li>
            <a ng-click="">
                Payment Settings
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    
    <ul class="list inset" style="font-weight:bold;" ng-controller="NavigationController">
        <li>
            <a ng-click="">
                Tell a Friend
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    
    <ul class="list inset" style="font-weight:bold;" ng-controller="NavigationController">
        <li>
            <a ng-click="slidePage('/edit_account', 'slide')">
                Edit Account
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    
    <ul class="list inset" style="font-weight:bold;" ng-controller="LoginController">
        <li>
            <a ng-click="logout()" confirm-action confirm-action-title="Are you sure you would like to sign out?">
                Sign Out
            </a>
        </li>
    </ul>
</div>
