<header class="bar-title" ng-controller="NavigationController">
    <a class="button" ng-click="back()">
    	Back
  	</a>
  	<h1 class="title">Edit Account</h1>
    <a class="button" ng-click="updateAccount()">
        Update
    </a>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" ng-controller="SpinnerController" us-spinner="opts"></div>

<div class="content content-padded" style="background:#F5F5F5;" ng-init="getUserDetails()">
    <br/>
    <form name="editAccountForm">
        <div class="input-group">
            <input type="text" name="firstName" ng-model="userDetails.firstName" placeholder="First Name" required/>
            <input type="text" name="lastName" ng-model="userDetails.lastName" placeholder="Last Name" required/>
            <input type="email" name="email" ng-model="userDetails.username" placeholder="Email" required/>
        </div>
        <div class="input-group">
            <input type="text" name="address" ng-model="userDetails.address" placeholder="Address" required/>
            <input type="text" name="address2" ng-model="userDetails.address2" placeholder="Apt/Unit/Suite" />
            <input type="text" name="city" ng-model="userDetails.city" placeholder="City" required/>
            <input type="text" name="state" ng-model="userDetails.state" placeholder="State" required/>
            <input type="text" name="zipcode" ng-model="userDetails.zipcode" placeholder="Zipcode" required/>
        </div>
	</form>
</div>