<header class="bar-nav">
    <h1 class="title" id="home-logo"></h1>
</header>

<div class="content" ng-init="$navigate.eraseHistory()">
    
    <nav class="metrics">
        <ul class="segmented-controller inset-el">
            <li>
                <a href="#"><span style="font-size:28px">1</span></h3><br/>Pending</a>
            </li>
            <li>
                <a href="#"><span style="font-size:28px">4</span><br/>Selling</a>
            </li>
            <li>
                <a href="#"><span style="font-size:28px">$48</span><br/>Sold</a>
            </li>
        </ul>
    </nav>
    
    <div class="content-padded">
        <br/>
        <div class="row-fluid">
            <div class="span6 center navi">
                <a ng-click="$navigate.go('/sell', 'slide')">
                    <img ng-src="assets/images/sell.png" /><br/>Sell
                </a>
            </div>
            <div class="span6 center navi">
                <a ng-click="$navigate.go('/listings', 'slide')">
                    <img ng-src="assets/images/selling.png" /><br/>Listings
                </a>
            </div>
        </div>
        <br/><br/>
        <div class="row-fluid">
            <div class="span6 center navi">
                <a ng-click="$navigate.go('/account', 'slide')">
                    <img ng-src="assets/images/account.png" /><br/>Account
                </a>
            </div>
            <div class="span6 center navi">
                <a ng-click="$navigate.go('/more', 'slide')">
                    <img ng-src="assets/images/more.png" /><br/>More
                </a>
            </div>
        </div>
    </div>
    
</div>
