<header class="bar-title">
  <h1 class="title" id="home-logo"></h1>
</header>

<div class="content">
	<div class="content-padded">
    <br />
    <a href="#/sell" class="button-block" style="padding:35px 0;">
        Sell an item
    </a>
  </div>
  
  <br/><br/>
  
  <ul class="list inset home-list" style="font-weight:bold;">
    <li>
      <a href="#/listings">
        Selling
        <span class="chevron"></span>
      </a>
    </li>
    <li>
      <a href="#/account">
        Account
        <span class="chevron"></span>
      </a>
    </li>
  </ul>

  <br/><br/>

  <ul class="list inset home-list" style="font-weight:bold;">
    <li>
      Logout:
      <a class="button" ng-click="logout()">
        Logout
      </a>
    </li>
  </ul>
</div>
<!--
<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href="#/">
	    <img class="tab-icon" src="assets/images/house.png" />
        <div class="tab-label">Home</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#/sell">
	    <img class="tab-icon" src="assets/images/camera.png" />
        <div class="tab-label">+Sell+</div>
      </a>
    </li>
    <li class="tab-item">
      <a href="#/listings">
	    <img class="tab-icon" src="assets/images/graph_bar_trend.png" />
        <div class="tab-label">Listings</div>
      </a>
    </li>
  </ul>
</nav>
-->