<header class="bar-title" ng-controller="NavigationController">
  	<a class="button-prev" ng-click="back()">
    	Back
  	</a>
  	<h1 class="title">PeddleBuddy</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" ng-controller="SpinnerController" us-spinner="opts"></div>

<div class="content content-padded" ng-init="getListing()">
	<div>
        <h3>{{ listing.get('sellerDescription') }} {{ listing.get('sellerPrice') | currency }}</h3>
        <img ng-src="{{ listing.get('photos')[0].get('photo').url() }}" width="250px" /><br />
        <br />
        <a class="button-negative button-block" confirm-action="Are you sure you want to cancel this sale?">Cancel sale</a>
	</div>
</div>
