<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Home
  	</a>
  	<h1 class="title">Your Listings</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" ng-controller="SpinnerController" us-spinner="opts"></div>

<div class="content" ng-init="getListings()">
    <div ng-show="listings == 0 && !spinning" class="center"><br/><br/><h3>No listings yet</h3></div>
	<ul class="table-view listings">
		<li class="table-view-cell" ng-repeat="listing in listings">
			<a ng-click="$navigate.go('/listings/{{ listing.id }}', 'slide')">
				<table>
					<tr>
						<td>
							<span class="listing-badge {{ listing.get('state') }} lb-ab">{{ listing.get('state') }}</span>
							<img ng-src="{{ listing.get('photos')[0].get('photo').url() }}" width="100px" height="100px" />
						</td>
						<td valign="top" style="padding-left:10px;">
							<h4>{{ listing.get("sellerDescription") }}</h4>
							<p style="color:#777;">
                                {{ listing.get("condition") }}
                            </p>
                            <p style="color:#777;">
                                {{ listing.get("sellerPrice") | currency }}
                            <p>
						</td>
					</tr>
				</table>
			</a>
            <span class="chevron"></span>
		</li>
	</ul>
</div>