<header class="bar-title" ng-controller="WelcomeController">
    <a class="button" ng-click="back()">
    	Back
  	</a>
  	<h1 class="title">Sign In</h1>
</header>

<div class="content content-padded">
    <br/>
	<form name="loginForm">
		<input type="email" name="email" ng-model="credentials.username" placeholder="Email" required/>
		<input type="password" name="password" ng-model="credentials.password" placeholder="Password" />
		
		<br /><br />		
		<a ng-click="login()" class="btn button button-block">Sign In</a>
	</form>
	<br />
    <p class="center" ng-controller="WelcomeController"><a ng-click="slidePage('reset_password', 'modal')">Forgot your password?</a></p>
</div>
