<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Home
  	</a>
  	<h1 class="title">More</h1>
</header>

<div class="content gray-background">
    <br/>
    <ul class="table-view">
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/faq', 'slide')">
                FAQ
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/contact', 'slide')">
                Contact Us
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/', 'slide')">
                How it works
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/about', 'slide')">
                About PeddleBuddy
            </a>
            <span class="chevron"></span>
        </li>
    </ul>
    
    <div style="margin-top:20px;"></div>
    <ul class="table-view">
        <li class="table-view-cell">
            <a ng-click="">
                Tell a Friend
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    
    <div style="margin-top:20px;"></div>
    <ul class="table-view">
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/user_agreement', 'slide')">
                User Agreement
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/privacy', 'slide')">
                Privacy Statement
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/tos', 'slide')">
                Terms of Service
            </a>
            <span class="chevron"></span>
        </li>
    </ul>
</div>