<header class="bar-title">
	<a class="button" href="#/login">
    	Cancel
  	</a>
  	<h1 class="title">Forgot Password</h1>
</header>

<div class="content content-padded">
	<br/>
    <p style="color:#999;" class="center">Enter your email and we will send you password reset instructions.
    <br/><br/>
	<form ng-submit="resetPassword()" name="passwordResetForm">
		<input type="email" name="email" ng-model="userEmail" placeholder="Email" required />
        <br /><br />
        <button type="submit" class="btn button button-block" ng-disabled="passwordResetForm.$invalid;">Reset Password</button>
    </form>
</div>
