<header class="bar-title" ng-controller="WelcomeController">
    <button class="button" ng-click="cancelNewListing()" confirm-action="Any photos you've taken or information entered will be lost.">
    	Cancel
  	</button>
  	<h1 class="title">Sell</h1>
</header>

<div class="content">
    <!--
	<div ng-show="newListingPhotos == 0" class="new-listing-instructions center">
		<h2>Snap some photos</h2>
    	<ul>
    	    <li>Take 4-12 photographs</li>
    	    <li>Photograph the details</li>
    	    <li>Photo the brand/size/material tags and we'll type it in</li>
    	</ul>
    </div>
    -->
    
    <br />
    <ul class="list inset selling-form">
        <li class="list-divider">1. Snap some photos</li>
        <li>
            <div ng-click="takePhoto()" style="background-color:#CCECFF;padding:10px;margin-bottom:10px;text-align:center;"><img src="assets/images/camera.png" /></div>
            <div ng-repeat="photo in newListingPhotos" class="new-listing-photos">
                <img ng-src="{{ photo }}" width="60" height="60" /><!-- - <a href ng-click="dropPhoto(photo)">X</a> -->
            </div>
        </li>
    </ul>
    
    <br />
    <ul class="list inset selling-form">
        <li class="list-divider" ng-show="newListingPhotos == 0" style="color:#999999;">2. What are you selling?</li>
        <li class="list-divider" ng-show="newListingPhotos.length > 0">2. What are you selling?</li>
        <li style="padding-bottom:0;">
            <form ng-submit="addListing()" name="addListingForm" enctype="multipart/form-data">
                <input type="text" name="sellerDescription" ng-model="listing.sellerDescription" placeholder="Short desc. (ex. JCrew dress large)" required ng-disabled="newListingPhotos == 0">

                <!-- <select ng-model='listing.condition' ng-options='option.value as option.name for option in conditionOptions'></select> ->

                <!--
                <p class="seller-optionals">
                    <a href="" ng-show="!optionals" ng-click="optionals = !optionals" style="padding:10px;">+ Optional Settings</a>
                    <a href="" ng-show="optionals" ng-click="optionals = !optionals" style="padding:10px;">- Optional Settings</a>
                </p>
                -->
                    
                <ul class="list selling-form">
                    <li>
                        <span ng-show="newListingPhotos == 0" style="color:#999999;">Any flaws?</span>
                        <span ng-show="newListingPhotos.length > 0">Any flaws?</span>
                        <div class="toggle" ng-click="flawOptionals = !flawOptionals">
                            <div class="toggle-handle"></div>
                        </div>
                    </li>
                    <li style="padding:0;margin:0;">
                        <div ng-show="flawOptionals" class="optional">
                            <input type="text" name="sellerCondition" ng-model="listing.condition" placeholder="List any flaws, big or small." ng-disabled="newListingPhotos == 0">
                        </div>
                    </li>
                    
                    <li>
                        <!-- Let us price it for you? -->
                        <span ng-show="newListingPhotos == 0" style="color:#999999;">Set your own price?</span>
                        <span ng-show="newListingPhotos.length > 0">Set your own price?</span>
                        <div class="toggle" ng-click="optionals = !optionals">
                            <div class="toggle-handle"></div>
                        </div>
                    </li>
                    <li style="padding:0;margin:0;">
                        <div ng-show="optionals" class="optional">
                            <input type="text" name="sellerPrice" ng-model="listing.sellerPrice" placeholder="$" ng-disabled="newListingPhotos == 0">
                        </div>
                    </li>
                </ul>
        </li>
    </ul>
    
    <br/>
    <div class="content-padded">
        <p class="new-listing-note">
            As soon as you submit your item, one of our team members will list it for sale!
        </p><br /><br/>
        <button type="submit" class="btn button button-block" ng-disabled="newListingPhotos == 0">3. Confirm and submit</button>
    </div>
    </form>
</div>