<header class="bar-title" ng-controller="NavigationController">
	<a class="button" ng-click="back()">
    	Back
  	</a>
  	<h1 class="title">Get Started</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" ng-controller="SpinnerController" us-spinner="opts"></div>

<div class="content content-padded">
	<br/>
	<form name="signupForm">
		<input type="email" name="email" ng-model="newUser.email" placeholder="Email" required/>
		<input type="password" name="password" ng-model="newUser.password" placeholder="Password (at least 6 characters)" ng-minlength="6" required/>
		<input type="text" name="telephone" ng-model="newUser.telephone" placeholder="555-555-5555" required/>
		<br /><br />		
		<button type="submit" ng-click="signUp()" class="btn button button-block">Get Started</button>
	</form>
</div>
