<div class="content content-padded" id="welcome-page">
    <br/>
    <div id="welcome-logo"></div>
    <div class="center">
		<h4 style="color:#E1FEEE;">You have better things to do...<br/>We sell your fashions for you!</h4>
	</div>
    
    <div class="welcome-btns">
        <a ng-click="$navigate.go('/signup','slide')" class="btn button button-block button-primary button-filled">
            Get Started
        </a>
        <a ng-click="$navigate.go('/login','slide')" class="btn button button-block button-filled">
            Sign In
        </a>
    </div>
</div>
