<div class="content content-padded" id="welcome-page">
    <br/>
    <div id="welcome-logo"></div>
    <div class="center">
		<h3 style="color:#E1FEEE;">We sell your pre-loved apparel for you!</h3>
	</div>
    
	<br/><br/><br/><br/>
    <ul class="list inset home-list" style="font-weight:bold;">
        <li>
            <a href="#/signup">
                Get Started
                <span class="chevron"></span>
            </a>
        </li>
        <li>
            <a href="#/login">
                Sign In
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
</div>
