<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">Returns</h1>
</header>

<div class="content content-padded center">
    <br/>
    <p>
        We think selling your stuff should be completely pain free.
    </p>
    <p>
        Returns are sent back to us so once your item sells you don't have to worry about selling it all over again.
    </p>
</div>

<nav class="bar-tab welcome-tab">
    <ul class="tab-inner">
        <li class="tab-item content-padded signup-tab">
            <a ng-click="$navigate.go('/user-signup-1', 'slide')">
                Sign Up
            </a>
        </li>
    </ul>
</nav>