<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">Getting paid</h1>
</header>

<div class="content content-padded center">
    <br/>
    <p>After we sell your item we'll schedule one of our couriers to pickup and pay you for your item.</p>
    <p>Selling through PeddleBuddy is 19% of the sale price and a courier will pickup, pack and ship your item for free. For total sales of $25 or less will incur a courier fee of $5.</p>
    <div class="welcome-more">
        <span class="welcome-more-l">
            <a ng-click="$navigate.go('/learn-returns', 'slide')">What about returns? &rarr;</a>
        </span>
    </div>
</div>

<nav class="bar-tab welcome-tab">
    <ul class="tab-inner">
        <li class="tab-item content-padded signup-tab">
            <a ng-click="$navigate.go('/user-signup-1', 'slide')">
                Sign Up
            </a>
        </li>
    </ul>
</nav>