<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">How it Works</h1>
</header>

<div class="content content-padded">
    <br/>
    
    <ul class="table-view inset selling-form learn-more">
        <li class="table-view-cell list-divider">1. Snap some photos</li>
        <li class="table-view-cell">
            Snap some photos of what you would like to sell. Right now we can help you sell:
            <br/><br/>
            <p>
                Clothing and appare. Purses...
            </p>
        </li>
    </ul>
    <br/>
    <ul class="table-view inset selling-form learn-more">
        <li class="table-view-cell list-divider">2. We sell for you</li>
        <li class="table-view-cell">
            We get to work...
        </li>
    </ul>
    <br/>
    <ul class="table-view inset selling-form learn-more">
        <li class="table-view-cell list-divider">3. We pick it up and ship it</li>
        <li class="table-view-cell">
            One of our couriers will pickup your item, pack it up and ship it for you. As soon as they pick it up, and make sure it's all good, we send a payment right to your checking account.
        </li>
    </ul>

    <div class="welcome-more">
        <span class="welcome-more-l">
            <a ng-click="$navigate.go('/learn-get-paid', 'slide')">How do I get paid? &rarr;</a>
        </span>
    </div>
</div>