<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">What sells</h1>
</header>

<div class="content content-padded center">
    <br/>
    <p>Apparel, Purses and Handbags.</p>
    <p>Jewelry and Accessories</p>
    <p>Electronics iPhone, Android, Tablet, Laptops, etc.</p>    
    <br/>
    <div class="welcome-more">
        <span class="welcome-more-l">
            <a ng-click="$navigate.go('/learn-get-paid', 'slide')">How do I get paid? &rarr;</a>
        </span>
    </div>
</div>

<nav class="bar-tab welcome-tab">
    <ul class="tab-inner">
        <li class="tab-item content-padded signup-tab">
            <a ng-click="$navigate.go('/user-signup-1', 'slide')">
                Sign Up
            </a>
        </li>
    </ul>
</nav>