<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">FAQ</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" us-spinner="opts"></div>

<div class="content content-padded" ng-init="getPage('FAQ')">
    <h3>{{ title }}</h3>
    <div ng-bind-html-unsafe="content"></div>
</div>

<nav class="bar-tab">
    <ul class="tab-inner">
        <li class="tab-item">
            <a ng-click="$navigate.go('/', 'none')">
                <img ng-src="assets/images/dashboard.png" />
            </a>
        </li>
        <li class="tab-item">
            <a ng-click="$navigate.go('/activity', 'none')">
                <img ng-src="assets/images/activity.png" />
            </a>
        </li>
        <li class="tab-item">
            <img ng-src="assets/images/settings-active.png" />
        </li>
    </ul>
</nav>