<header class="bar-nav">
    <a class="button-prev" ng-click="$navigate.back()">
    	Back
  	</a>
  	<h1 class="title">Support</h1>
</header>

<div class="content">
    <br/>
    <div class="content-padded">
        <a href="mailto:support@peddlebuddy.com?Subject=I could use some help" class="btn button button-block button-primary button-filled">
            support@peddlebuddy.com
        </a>
    </div>
    <br/>
    <ul class="table-view">
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/user-agreement', 'slide')">
                User Agreement
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/privacy', 'slide')">
                Privacy Policy
            </a>
            <span class="chevron"></span>
        </li>
        <li class="table-view-cell">
            <a ng-click="$navigate.go('/tos', 'slide')">
                Terms of Service
            </a>
            <span class="chevron"></span>
        </li>
    </ul>
</div>