.listings h4 {
    margin:0 0 5px 0;padding:0;
}

.listings p {
    font-size:14px;
    color:#777;
}

.listing-state {
	color:#fff;
	padding: 2px 4px;
}

.listing-state.Sold {
	background-color:rgba(51, 219, 182, 1);
}

.listing-state.Live {
	background-color:#5Ca7df;
}

.listing-state.Pending {
	background-color:#999999;
}

.listing-state.Error {
	background-color:#e1806f;
}

.load-more {
    margin-top:8px;
}