<header class="bar-nav">
    <a class="button" ng-click="$navigate.go('/', 'slide')">
        Home
    </a>
  	<h1 class="title">Huzzah!</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" us-spinner="opts"></div>

<div class="content content-padded gray-background">
    <br/>
    <h3>Success!</h3>
    <p>Your item has been successfully listed! We'll have your item up for sale within 24 hours ;)</p>
    <br/><br/>
    <a ng-click="$navigate.back()" class="btn button button-block button-primary button-filled">
        Sell Another Item
    </a>
</div>