<header class="bar-nav">
    <button class="button" ng-click="cancelNewListing()" confirm-action="Any photos you've taken or information entered will be lost.">
    	Cancel
  	</button>
  	<h1 class="title">Sell</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" us-spinner="opts"></div>

<div class="content" ng-init="launchCamera()">
    <br />
    <ul class="table-view inset selling-form">
        <li ng-hide="photosReady()" class="table-view-cell list-divider divider-active">
            <span ng-show="tooFewPhotos()">Snap at least {{photosLeftToTake}} more photo(s).</span>
            <span ng-show="tooManyPhotos()">Too many photos.<br/>Delete at least {{photosOverage}} photo(s).</span>
        </li>
        
        <li class="table-view-cell">
            <span ng-click="launchCamera()" class="new-listing-photos"><img ng-src="assets/images/sell-camera-button.png" width="84px" height="84px" /></span>
            <span ng-repeat="photo in newListingPhotos" class="new-listing-photos">
                <button ng-click="dropPhoto(photo)" class="dropit" confirm-action-title="Delete this photo?" confirm-action="It will be permanently deleted.">X</button>
                <img ng-src="data:image/jpeg;base64,{{photo}}" width="84" height="84" />
            </span>
        </li>
    </ul>
    <br/>
    <form name="addListingForm" enctype="multipart/form-data">
    <ul class="table-view inset selling-form part-two">
        <li ng-show="!photosReady() && !formReady() || formReady()" class="table-view-cell list-divider reveal-{{photosReady()}}">What are you selling?</li>
        <li ng-show="photosReady() && !formReady()" class="table-view-cell list-divider divider-{{photosReady()}}">What are you selling?</li>

        <li class="table-view-cell paddit" style="padding-bottom:0;">
            <input type="text" name="sellerDescription" ng-model="listing.sellerDescription" placeholder="ex: jcrew wool dress large" required ng-pattern="/^[a-zA-Z\s\d\.\,\?\(\)\-\#\&\']+$/">
        </li>
        <div class="sell-overlay" ng-hide="photosReady()"></div>
    </ul>
    <br/>
    
    <ul class="table-view inset selling-form part-two">
        <li class="table-view-cell paddit">
            <span class="reveal-{{photosReady()}}">Any Flaws?</span>
            <div class="toggle" ng-click="toggleFlawOptional()">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell paddit" style="padding:0;margin:0;">
            <div ng-show="flawOptional" class="optional">
                <input type="text" name="sellerCondition" ng-model="listing.condition" placeholder="holes, stains, broken, etc." ng-pattern="/^[a-zA-Z\s\d\.\,\?\(\)\-\#\&\']+$/">
            </div>
        </li>
        <div class="sell-overlay" ng-hide="photosReady()"></div>
    </ul>
    <br/>
    
    <ul class="table-view inset selling-form part-two">
        <li class="table-view-cell paddit">
            <!-- Let us price it for you? -->
            <span class="reveal-{{photosReady()}}">Set your own Price</span>
            <div class="toggle" ng-click="togglePriceOptional()">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell paddit" style="padding:0;margin:0;">
            <div ng-show="priceOptional" class="optional">
                <input type="tel" name="sellerPrice" ng-model="listing.sellerPrice" placeholder="$" ng-pattern="/^[\d\.\$]{1,10}$/">
            </div>
        </li>
        <div class="sell-overlay" ng-hide="photosReady()"></div>
    </ul>
    
    <div class="content-padded">
        <p class="new-listing-note">
            Tap below to confirm and submit your item for us to sell.
        </p>
        <br />
        <div ng-show="formReady() && photosReady()">
            <button ng-click="addListing()" class="btn button button-primary button-block button-filled" confirm-action-title="Ready to sell?" confirm-action="Tap YES and we'll sell it for you.">Sell it for me!</button>
        </div>
        <div ng-hide="formReady() && photosReady()">
            <button ng-click="addListing()" class="btn button button-primary button-block button-filled sell-button-inactive">Sell it for me!</button>
        </div>
    </div>
    </form>
</div>