<header class="bar-nav">
  	<h1 class="title">Huzzah!</h1>
</header>

<div id="overlay" ng-show="spinning"></div>
<div id="overlaySpinner" ng-show="spinning" us-spinner="opts"></div>

<div class="content content-padded gray-background">
    <h3>Success!</h3>
    <p>
        We'll let you know as soon as it sells and schedule a pickup.
    </p>
    <br/>
    <a ng-click="$navigate.back()" class="btn button button-block button-primary button-filled">
        Sell Another Item
    </a>
    <br/>
    <div class="center">
        <a  ng-click="$navigate.go('/', 'slide')">
            Back to Dashboard
        </a>
    </div>
</div>