<header class="bar-title">
  	<h1 class="title">THREADHOP</h1>
  	<button class="button" ng-click="takePhoto()">Snap</button>
</header>

<div class="content content-padded">
	<h2>Sell a new item</h2><br />
	<ul>
		<li ng-repeat="photo in newListingPhotos">
			<img ng-src="{{ photo }}" style="width:60px;height:60px;" /> - <a href ng-click="dropPhoto(photo)">X</a>
		</li>
	</ul>
	<form ng-submit="addListing()" name="addListingForm" enctype="multipart/form-data">
		<file name="image" ng-model="listing.sellerPhoto" accept="image/png,image/jpg,image/jpeg"> </file>
		<br /><br />
        
		<input type="text" name="sellerDescription" ng-model="listing.sellerDescription" placeholder="What are you selling?" required>
            
            <input type="radio" name="condition" ng-model="listing.condition" value="new">New &nbsp;
                <input type="radio" name="condition" ng-model="listing.condition" value="excellent">Excellent &nbsp;
                    <input type="radio" name="condition" ng-model="listing.condition" value="very good">Very Good &nbsp;
                        <input type="radio" name="condition" ng-model="listing.condition" value="good">Good &nbsp;
                            <input type="radio" name="condition" ng-model="listing.condition" value="okay">Ok
                                <br /><br /><br />
                                
                                <p style="background-color:#e7e7e7;padding:10px;"><a href="" ng-click="optionals = !optionals">+ Optional Settings</a></p>
                                
                                <div ng-show="optionals" style="background-color:#e7e7e7;padding:10px;">
                                    <label for="price" style="font-weight:bold;">Minimum Price</label><br/>
                                    <input type="text" name="sellerPrice" ng-model="listing.sellerPrice" placeholder="$">
                                        </div>
                                <br /><br />
                                <button type="submit" class="btn button button-block">Sell it for me!</button>
                                </form>
</div>

<nav class="bar-tab">
    <ul class="tab-inner">
        <li class="tab-item">
            <a href="#/">
                <img class="tab-icon" src="assets/images/house.png">
                    <div class="tab-label">Home</div>
                    </a>
        </li>
        <li class="tab-item active">
            <a href="#/sell">
                <img class="tab-icon" src="assets/images/camera.png">
                    <div class="tab-label">+Sell+</div>
                    </a>
        </li>
        <li class="tab-item">
            <a href="#/listings">
                <img class="tab-icon" src="assets/images/graph_bar_trend.png">
                    <div class="tab-label">Listings</div>
                    </a>
        </li>
    </ul>
</nav>
